@model FeaturedProductsViewModel

<div class="text-center">
    <h2>Products List</h2>
    <ol>
        @foreach (var product in Model.Products)
        {
                <li>@product.SummaryText</li>
        }
    </ol>
</div>