@* @model FeaturedProductsViewModel *@

<div class="text-center">
    <h2>Products List</h2>
    @foreach (var product in Model.Products)
    {
        <ol>
            <li>@product.SummaryText</li>
        </ol>
    }
</div>